%h3 If you'd like to donate to our future life we're doing things a little bit differently.
%p
  We've signed up with
  %a{ href: "http://myregistry360.com" } myregistry360.com
  which allows us to register for
  %b any item on the internet!

%p
  You can see exactly what we've signed up for
  %a{ href: "http://myregistry360.com/wishlist/copple" } here.
  However, if you think we should own something that isn't on the list, feel free to purchase it for us.
  We love recommendations, particularly from people we trust -- which is all of you.

%p
  If you do place an off registry order feel free to bring it to the wedding or you can have the gift sent to:
  %pre
    Madison Bollinger
    14 Pardee Pl.
    New Haven, CT 06515
