@mixin shadow($vertical: 0px, $horizontal: 0px, $radius: 0px, $color: #000) {
  -moz-box-shadow: $vertical $horizontal $radius $color;
  -webkit-box-shadow: $vertical $horizontal $radius $color;
  box-shadow: $vertical $horizontal $radius $color;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  // filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
