navigation {
  @include row;

  ul {
    @include fill-parent;
    @include shift(3);
    list-style-type: none;

    li {
      @include span-columns(1 of 12);
      text-align: center;

      &:hover {
        background: #321;
      }
    }
  }
}
