@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'mixins';

content {
  @include span-columns(8 of 12);
  @include shift(2);
  position: relative;

  #banner {
    width: 932px;
    height: 378px;
    margin: 0 auto;
    padding: 0;
  }

  #info {
    position: relative;
    float: left;
    color: #62686c;
    margin-bottom: 3%;

    a {
      color: #62686c;
      font-weight: bolder;
      text-decoration: underline;
    }

    p {
      padding-left: 2em;
    }
  }
}
