@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'mixins';

header {
  @include fill-parent;
  @include row;

  background: url(../../assets/images/header-bg.png) repeat-x;
  height: 154px;
  margin: 0 0 40px;
  z-index: 2;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  float: left;

  .masthead {
    @include row;
    width: 940px;
    margin: 0 auto;
    position: relative;

    .branding {
      position: absolute;
      img {
        height: 166px;
        width: 151px;
      }
      top: 10px;
      left: 50%;
      margin-left: -75px;
    }

    .site-name {
      position: absolute;
      top: 90px;
      left: 50px;
      height: 15px;
    }

    .site-description {
      position: absolute;
      top: 90px;
      left: 560px;
      height: 15px;
      width: 100%;
    }
  }
}
