@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'mixins';

navigation {
  @include row;
  position: relative;
  margin: 0 auto;
  padding: 50px 0 100px;
  margin: 0;
  background: white url(../../assets/images/menu-bg.jpg) repeat-x;

  #navigation-wrapper {
    ul {
      @include fill-parent;
      margin: 0 auto;
      list-style-type: none;
    }

    li {
      @include span-columns(3 of 12);

      &:hover {
        transform: translate3d(0, -10px, 0);
        -webkit-transform: translate3d(0, -10px, 0);
        -moz-transform: translate3d(0, -10px, 0);
      }

      transition: all 200ms ease-in-out;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      width: 301px;
      background: url(../../assets/images/sprite.png) -13px -78px no-repeat;
      float: left;
      margin: 0 18px 20px 0;
      position: relative;

      a {
        display: block;
        outline: none;
        margin: 0 auto;
        height: 190px;
        width: 301px;
        z-index: 20;
        background: url(../../assets/images/sprite.png) -13px -510px no-repeat;
      }

      &.photos {
        a {
          background-position: -650px -725px;
        }
      }

      &.registry {
        background-position: -653px -78px;

        a {
          background-position: -13px -725px;
        }
      }

      &.info {
        background-position: -336px -78px;

        a {
          background-position: -336px -725px;
        }
      }
    }
  }
}
